
<div class='rgdm_settings'>

<%= labelled_form_for :settings, @rgdm_setting,
                             :url => {:controller => 'rgdm_settings',
                             :action => 'edit', :project_id => @project, :tab => 'rgdm_settings',
                             :setting_id => @rgdm_setting.id}, 
                             :html => {:id => 'rgdm_settings' } do |f| %>

  <% rgdm_global_op = Setting.plugin_redmine_gantt_default_month %>
    <% case rgdm_global_op['rgdm_option'] %>
    <% when '0' then str = "none" %>
    <% when '1' then str = "CustomField - " + rgdm_global_op['rgdm_customfield_id'] %>
    <% when '2' then str = "Default month - " + rgdm_global_op['rgdm_default_month'] %>
    <% end %>
  

  <% rgdm_op0 = @rgdm_setting.option == 0 ? true : false %>
  <% rgdm_op2 = @rgdm_setting.option == 2 ? true : false %>

  <div class="box tabular">
  Current global setting : <%= str %><br>
  <br>
  Project setting : <br>
  <p><%= radio_button_tag('settings[option]', '0', rgdm_op0 ) %>use global setting</p>
  <p><%= radio_button_tag('settings[option]', '2', rgdm_op2 ) %>set ganttchart default date with
     <%= date_field_tag 'settings[default_month]', @rgdm_setting.default_month.to_date, size: 10 %>
     <%= calendar_for('settings[default_month]') %>
  </p>
  <br>

  <%= submit_tag l(:button_save) %>

  </div>
  <% end %>
</div>

